body {
    font-family: "Ubuntu", sans-serif;
}

.sidebar {
    background-color: rgb(101,100,219);
    float: none;
}
@media screen and (min-width: 576px) {

}


@media screen and (min-width: 1200px) {    
    #main-content {
        margin-left: 200px;
    }

    .sidebar {
        height:100%;
        width: 300px;
        position:fixed;
    }
    
}

h1 {
    color: #101d42; 
}



